<div class="container d-flex flex-column min-vh-100 p-0 bg-light overflow-hidden">

  <a class="text-decoration-none" href="/AngularEmployeeCrudOnline/"><div class="text-bg-dark text-center py-4">
    <h1 class="display-5">
      Employee CRUD
    </h1>
  </div>
</a>

  <div class="row justify-content-center my-auto">
    <div class="col-md-8">
      <app-employees></app-employees>
    </div>
  </div>

  <div class="container text-center border-top py-4 text-bg-dark mt-auto">
    <p class="p-0 m-0">This website was developed by <strong><a href="https://www.linkedin.com/in/mohamadalasaed/">
          mohamadalasaed</a></strong>.<br>2023, © All Rights Reserved.</p>
  </div>
  
</div>